// Footer styling
.footer {
    margin-top: 3rem;
    padding: .5rem 1rem;

    &__text {
        margin: 0 auto;
        width: fit-content;
    }
    
}

// Utilities
.display {
    display: none;
}

.article-visible {
    opacity: 1;
    z-index: 1;
    transform: scale(1);
}

.visibility {
    visibility: hidden;
}