// Setting variables

// font variables
$logo-font: "heebo", sans-serif;
$text-font: "Montserrat", sans-serif;

// color variables
$light-gray: #F7F7F7;
$dark-gray: #EEEEEE;
$dark-ash: #393E46;
$light-ash: #57595e;
$blue: rgb(45, 45, 223);
$black: #000000;
$white: white;
$transparent-black: rgba(0, 0, 0, 0.9);

// Media breakpoints
$largest: 56.25em;
$medium: 37.5em;
$small: 28.13em;
// Setting mixins

// Preset style for all icons 
@mixin iconStyles {
    width: 3rem;
    height: 3rem;
    
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: transform .3s;
        fill: $dark-ash;
    }
}